@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

/* Variables overrides */
@import "helpers/_custom-variables";

@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/popover";
@import "../node_modules/bootstrap/scss/tooltip";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/bootstrap-grid";
@import "../node_modules/bootstrap/scss/modal";

@import "../node_modules/bootstrap/scss/utilities/text";



/* General styles /////////////////////////////////////////////////// */
/* overriding some reboot styles */
html, body {
    color: theme-color('secondary');
}
ol, ul, dl, p {
    margin-bottom: 0;
    padding: 0;
}
li {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

// Helpers /////////////////////////////////////////////////////////////
@import 'helpers/extends';

// Componenets /////////////////////////////////////////////////////////
@import "components/header";
@import "components/fonts";
@import "components/buttons";
@import "components/animations";
@import "components/layout";
@import "components/footer";
@import "components/map";

// Pages ///////////////////////////////////////////////////////////////
@import "pages/home";
@import "pages/blog";
@import "pages/article";
@import "pages/about";
@import "pages/services";
@import "pages/service-inner";
@import "pages/team";
@import "pages/team-member";
@import "pages/offices";
@import "pages/port-entry";
@import "pages/case-studies";
@import "pages/contact";