.categories {
  h2 {
    font-family: $akizden-bold;
    font-size: 32px;
    letter-spacing: 3px;
  }

  .category-btn {
    font-family: $font-family-base;
    text-transform: none;
    font-size: 14px;
    color: #959595;
    font-weight: normal;
    border: 1px solid theme-color('primary');
    border-radius: 0;
    width: 100%;

    &:hover {
      background: theme-color('primary');
      color: #fff;
      border: 1px solid #000;
    }
  }
}

.blog {
  .col-md-4 {
    &:nth-child(7n+4), &:nth-child(7n+7) {
      @include make-col(8);

      @include media-breakpoint-down(sm){
        @include make-col(11);
        margin: 0 auto;
      }
    }
    
    @include media-breakpoint-down(sm){
      @include make-col(11);
      margin: 0 auto;
    }
  }
}

.text-seo {
  margin-top: 0;
}