/* award wining section */
.award-wining {
  // padding: 90px 0 350px;

  .plane img{
    position: absolute;
    max-width: 1000px;
    margin-left: -300px;
    animation: float 2.5s infinite;
  }
}

/* services */
.services {
  .ocean-bg {
    background: url('../../images/ocean-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 900px;
    margin-top: -230px;
    z-index: -1;
    
    @extend %edge-top;
    @extend %edge-bottom;
  }
}