/* award wining section */
.award-wining {
  // padding: 90px 0 350px;
  h3 {
    font: 30px kionaSemiBold;
    letter-spacing: 2px;
    color: #5d2b86;
    .b {
      font: 40px kionaBold;
    }
  }
  .plane img{
    position: absolute;
    max-width: auto;
    margin-left: 0;
    animation: float 2.5s infinite;
    @include media-breakpoint-down(xl){
      width: 100%;
    }
    @include media-breakpoint-down(md){
      width: 100%;
      margin: 0 auto;
    }
    @include media-breakpoint-down(sm){
      width: 60%;
    }
  }

  p.text {
    color: #898989;
    font-size: 18px;
    line-height: 1.8;
  }
}

/* services */
.services {
  .ocean-bg {
    background: url('../images/services-section-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 900px;
    margin-top: -180px;
    z-index: -1;
    @include media-breakpoint-down(md){
      margin-top: 0;
    }
    
    @extend %edge-top;
    @extend %edge-bottom;
  }

  .page-break {
    margin: 0 auto;
    height: 215px;
    top: 0;
    margin-top: -900px;
    z-index: -1;
    @include media-breakpoint-down(md){
      height: 100px;
    }
    @include media-breakpoint-down(sm){
      margin-top: -870px;
    }
  }

  .services-header {
    display: inline-block;
    overflow: hidden;
    h2 {
      color: #fff;
      font: 30px kionaBold;
      letter-spacing: 5px;

      .b {
      font: 100px kionaSemiBold;
      letter-spacing: 7px;
     }

     @include media-breakpoint-down(md){
       font-size: 20px;
       .b {
         font-size: 60px;
       }
     }
    }
  }
  .page-break2 {
    @extend %page-break;
    margin: 0 auto;
    height: 110px;
    top: 0;
    z-index: 2;
    @include media-breakpoint-down(md){
      height: 100px;
    }
  }
}

/* hexagon grid styles at scss/components/_layout.scss */
.services-more {
  position: relative;
  @include media-breakpoint-down(lg){
    margin-top: -50px;
  }
  @include media-breakpoint-down(sm){
    margin-top: 0;
  }

  .page-break3 {
    @extend %page-break;
    margin: 0 auto;
    height: 70px;
    top: 0;
  }
  h2 {
    font-size: 20px;
    letter-spacing: 2px;
    font-family: kionaBold;
    color: #5d2b86;
  }
  p {
    font-size: 12px;
    color: #959595;
    line-height: 1.6;
    text-align: justify;
  }
}

.services-slider {
  .item {
    padding: 0 13px;
  }
  .service-img {
    position: relative;
    display: block;
    width: 100%;
    height: 320px;
    background-size: cover!important;
    background-position: center!important;
    text-decoration: none!important;
    overflow: hidden;
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.24);
  
    p {
      position: relative;
      display: flex;
      align-content: center;
      justify-content: center;
      font: 17px kionaSemiBold;
      letter-spacing: 1px;
      line-height: 320px;
      color: #fff;
      transform: translateY(-6px);
      opacity: 0;
      transition: all 0.25s;
    }
  
    .hover-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(255, 255, 255, 0.6);
      
      transition: all 0.25s;
    }
  
    &:hover {
      p {
        transform: translateY(0);
        opacity: 1;
      }
      .hover-overlay {
        background: #2c0b47;
        @supports (mix-blend-mode: multiply) {
          mix-blend-mode: multiply;
        }
      }
    }
  }

  .service-text {
    a {
      text-decoration: none;
    }
    h3 {
      font: 20px kionaBold;
      color: #5d2b86;
      margin-top: 35px;
      transition: all 0.25s;
    }
    h3:hover {
      color: lighten(#5d2b86, 30%);
    }
    p {
      color: #898989;
      font: 12px proxima-reg;
      margin-top: 15px;
      line-height: 22px;
      padding: 0 10px;
    }
  }

  .owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
    display: block;
  }

  .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    left: -25px;
    font-size: 40px;
    background: #fff;
    color: #5d2b86;
    width: 60px;
    height: 60px;
    text-align: center;
    top: 28%;
    @include media-breakpoint-down(md){
      left: -5px;
    }
  }
  .owl-carousel .owl-nav button.owl-next {
    position: absolute;
    right: -25px;
    font-size: 40px;
    background: #fff;
    color: #5d2b86;
    width: 60px;
    height: 60px;
    text-align: center;
    top: 28%;
    @include media-breakpoint-down(md){
      right: -5px;
    }
  }
  .owl-carousel .owl-nav button {
    outline: none;
    span {
      position: relative;
      bottom: 2px;
    }
  }
  .owl-carousel .owl-nav button:hover {
    border: 1px solid lighten(#5d2b86, 60%);
  }
}


/* Case Studies section */
h2.case-studies-header {
  font-size: 30px;
  letter-spacing: 2px;
  font-family: kionaBold;
  color: #5d2b86;
  margin-top: 150px;
}
.case-studies {
  position: relative;
  height: 670px;
  @include media-breakpoint-down(lg){
    height: auto;
  }
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.tile {
  position: relative;
  flex:0 0 33.33%;
  height: 670px;
  overflow: hidden;
  
  @include media-breakpoint-down(sm) {
    flex:0 0 90%;
    margin: 0 auto 15px;
    float: none;
    text-align: center;
    height: 450px;
  }

  .case-text {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.25s;

    h2 {
      font-size: 32px;
      font-family: kionaBold;
      font-weight: normal;
      letter-spacing: 2px; 
      text-align: center;
      transform: translateY(-15px);
      transition: all 0.25s;
    }
    p.view {
      position: relative;
      left: 2px;
      font-family: kionaSemiBold;
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #fff;
      margin: 160px 0 180px 0;
      @include media-breakpoint-down(lg){
        margin: 70px 0;
      }

      &:after, &:before {
        content: '';
        position: absolute;
        top: 55px;
        left: calc(50% - 2px);
        display: block;
        width: 2px;
        height: 0;
        background: #9975b3;
        transition: all 0.75s;
        @include media-breakpoint-down(lg){
          top: 35px;
        }
      }
      &:after {
        top: auto;
        bottom: 55px;
        @include media-breakpoint-down(lg){
          bottom: 35px;
        }
      }
    }
    p.service {
      margin-top: 40px;
      font-family: kionaSemiBold;
      font-size: 22px;
      text-transform: uppercase;
      transform: rotate(-90deg) translateX(-15px);
      transition: all 0.25s;
    }
  }

  .hover-overlay {
    @extend %pseudo-content;
    background: transparentize(theme-color('secondary'), 0.3);
    @supports (mix-blend-mode: multiply) {
      background: #2c0b47;
      mix-blend-mode: multiply;
    }
    z-index: 2;
    opacity: 0;
    transition: all 0.25s;
  }

  
  &:hover {
    .hover-overlay {
      opacity: 1;
    }

    .case-text {
      opacity: 1;
      
      h2 {
        transform: translateY(0);
      }
      p.view {
        &:after, &:before {
          height: 90px;
          @include media-breakpoint-down(lg){
            height: 25px;
          }
        }
      }
      p.service {
        transform: rotate(-90deg) translateX(0);
      }
    }
  }
}

.photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: transform .5s ease-out;
}

.txt {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 10%;
  left: 0;
  font-family: 'Roboto Slab', serif;
  font-size: 9px;
  line-height: 12px;
  text-align: center;
  cursor: default;
}

.x {
  font-size: 32px;
  line-height: 32px;
}

/* Latest News */
.latest-news-header {
  position: relative;
  font-family: kionaBold;
  font-size: 30px;
  letter-spacing: 5px;
  margin: 0;
  margin-bottom: -31px;
  color: #5d2b86;
  @include media-breakpoint-down(md) {
    font-size: 45px;
    margin-bottom: -14px;
    letter-spacing: 10px;
  }

  .b {
    position: relative;
    font: 100px kionaSemiBold;
    letter-spacing: 15px;
    top: -10px;
  }
}

// latest News Posts
.latest-news {
  margin-top: 100px;
  overflow: hidden;
  .post {
    background-size: cover!important;
    background-position: center!important;
    display: block;
    height: 415px;
    text-decoration: none;

    &:after {
      @extend %pseudo-content;
      background: linear-gradient( transparent, #2c0b47);
      width: 100.1%;
      @supports (mix-blend-mode: multiply) {
        mix-blend-mode: multiply;
      }
    }
    &:before {
      @extend %pseudo-content;
      background: #2c0b47;
      @supports (mix-blend-mode: multiply) {
        mix-blend-mode: multiply;
      }
      opacity: 0;
      transition: all 0.25s;
    } 
    &:hover:before {
      opacity: 1;      
    }
    .flex-item {
      position: relative;
      z-index: 2;
    }
    .post-header {
      position: relative;
      bottom: 0;
      font: 30px kionaBold;
      letter-spacing: 5px;
      font-weight: normal;
      color: #fff;
      transition: all 0.25s;
      @include media-breakpoint-down(md) {
        font-size: 22px;
      }

      &:after {
        content: '';
        display: block;
        margin-top: 20px;
        height: 2px;
        width: 0;
        background: #fff;
        opacity: 0;
        transition: all 0.25s;
      }
    }
    &:hover .post-header {
      bottom: 15px;
      &:after {
        width: 150px;
        opacity: 1;
      }
    }
    .date {
      font-family: $akizden-bold;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 3px;
      color: #c8a82c;
    }
    .post-text {
      color: #fff;
      font: 12px proxima-reg;
      line-height: 20px;
      margin-top: 5px;
    }
    .read-more {
      text-transform: uppercase;
      font: 12px kionaBold;
      margin-top: 20px;
      color: #9975b3;
      transition: all 0.25s;
      span {
        font-size: 8px;
        position: relative;
        bottom: 1px;
      }
    }

    &:hover .read-more {
      color: #fff;
    }
  }
}

/* work with us */
.work-with-us {
  border-bottom: 5px solid #9975b3;
  h3 {
    font-family: kionaBold;
    font-size: 24px;
    letter-spacing: 3px;
    color: #5d2b86;
    @include media-breakpoint-down(md) {
      font-size: 22px;
    }
  }
}

/* qoute */
.qoutes {

  .qoute-img {
    background-size: cover!important;
    background-position: center!important;
    width: 130px;
    height: 130px;
    border-radius: 100%;
  }
  .qoute-bold {
    font: 30px kionaBold;
    letter-spacing: 2px;
    color: #5d2b86;
  }
  .quote-left {
    display: block;
    font-size: 300px;
    font-family: kionaBold;
    color: #d4eaf1;
    position: relative;
    margin: -70px auto -320px;
    z-index: -1;
  }
  .qoute-text {
    font-size: 14px;    
    color: #959595;
    text-align: center;
    @supports (text-align-last: center) {
      text-align: justify;
      text-align-last: center;
    }
  }
  .name {
    font: 12px kionaBold;
    text-transform: uppercase;
    color: #1c4a98;
  }
  .page-break {
    @extend %page-break;
    margin: 0 auto;
    height: 60px;
    top: 0;
  }
}
