.offices-locations {
  background: url('../images/offices-locations-bg.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  @extend %edge-bottom;
  padding-bottom: 250px;
}

.locations {
  h2 {
    font-family: $akizden-bold;
    font-size: 16px;
    letter-spacing: 2px;
  }
  .flag {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
  }
  .address {
    display: inline-block;
    font-size: 12px;
  }
}