// home page plane float
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-7px);
	}
	100% {
		transform: translatey(0px);
	}
}

// cars wheel infinite rotation
@keyframes infinite-rotation {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(-360deg);
	}
}