.btn {
  font-family: KionaBold;
  text-transform: uppercase;
}

.btn-outline-primary {
  font-size: 22px;
  letter-spacing: 1.5px;
  border: none;
  position: relative;
  color: #fff;
  box-shadow: none!important;
  @include media-breakpoint-down(md){
    font-size: 16px;
  }
  
  &:after {
    @extend %pseudo-content;
    background: #fff;
    border-radius: 10px;
    z-index: -1;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
  }
  &:before {
    @extend %pseudo-content;
    border: 2px solid #fff;
    border-radius: 10px;
    z-index: -1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
  }
  &:hover {
    background: #fff;
    color: #5d2b86;
    &:after {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
      opacity: 1;
    }
    &:before {
      -webkit-transform: scale(0.75);
              transform: scale(0.75);
      opacity: 0;
    }
  }
  &:focus, &:active {
    background: #fff!important;
    color: #5d2b86;
  }
}

.btn-outline-primary.btn-sm {
  font-size: 18px;
  padding: 12px 60px;
  color: #5d2b86;
  border: 3px solid #2996b7;
  border-radius: 10px;
  @include media-breakpoint-down(md){
    padding: 12px 30px;
    font-size: 16px;
  }

  &:hover, &:focus, &:active {
    background: #5d2b86!important;
    color: #fff!important;
    border-color: #5d2b86!important;
  }
}

.btn-primary {
  color: #fff;
  letter-spacing: 1px;
  font-weight: normal;
  padding: 15px 80px;
  font-size: 18px;
}

.btn-secondary {
  border-radius: 0;
  font-family: $akizden-normal;
  font-size: 12px;
  letter-spacing: 3px;
  font-weight: normal;
  padding: 20px 70px;
}

.btn-shout-out {
  font-family: $akizden-bold;
  font-size: 24px;
  letter-spacing: 3px;
  border: 2px solid #959595;

  @include media-breakpoint-down(md) {
    font-size: 16px;
  }
}

.btn-shout-out {
  position: relative;
  &:after {
    @extend %pseudo-content;
    background: theme-color('primary');
    border-radius: 10px;
    z-index: -1;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
  }
  &:before {
    @extend %pseudo-content;
    border-radius: 10px;
    z-index: -1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
  }
  &:hover {
    border-color: theme-color('primary');
    background: none;
    &:after {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
      opacity: 1;
    }
    &:before {
      -webkit-transform: scale(0.75);
              transform: scale(0.75);
      opacity: 0;
    }
  }
}

// services btn
.services-btn {
  text-decoration: none;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  p {
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
  }
  &:hover {
    text-decoration: none;

    p {
      background: theme-color('primary');
    }
  }
}

.btn-click-here {
  border: 2px solid #5d2b86;
  color: #5d2b86;

  &:hover {
    background: #5d2b86;
    color: #fff;
  }
}