.btn {
  font-family: akizden-b;
  text-transform: uppercase;
}

.btn-outline-primary {
  font-size: 22px;
  letter-spacing: 1px;
  border: none;
  position: relative;
  
  &:after {
    @extend %pseudo-content;
    background: theme-color('primary');
    border-radius: 10px;
    z-index: -1;
    transform: scale(0.95);
    opacity: 0;
    transition: all 0.25s;
  }
  &:before {
    @extend %pseudo-content;
    border: 2px solid theme-color('secondary');
    border-radius: 10px;
    z-index: -1;
    transform: scale(1);
    transition: all 0.15s;
  }
  &:hover {
    &:after {
      transform: scale(1.1);
      opacity: 1;
    }
    &:before {
      transform: scale(0.75);
      opacity: 0;
    }
  }
}