// new fonts

@font-face {
  font-family: kionaSemiBold;
  src: url('fonts/Kiona-SemiBold.ttf');
}
@font-face {
  font-family: kionaBold;
  src: url('fonts/Kiona-Bold.ttf');
}
@font-face {
  font-family: proxima;
  src: url('fonts/Proxima-Nova-Thin.otf');
}

@font-face {
  font-family: proxima-reg;
  src: url('fonts/proxima_nova_reg-webfont.ttf');
}