@import url('https://fonts.googleapis.com/css?family=Gentium+Basic:400,700');

@font-face {
  font-family: futura-m;
  src: url('fonts/Futura Condensed Medium.otf');
}
@font-face {
  font-family: futura;
  src: url('fonts/Futura Condensed Regular.ttf');
}
/*
@font-face {
  font-family: akizden;
  src: url('fonts/Berthold Akzidenz Grotesk Condensed.otf');
}
@font-face {
  font-family: akizden-b;
  src: url('fonts/AkzidenzGroteskBE-BoldCn.otf');
}
*/