/* footer styles */
.footer {
  .footer-car {
    position: relative;
    z-index: 4;
  }
  .footer-bg {
    margin-top: -280px;
    @extend %edge-top;
    padding-top: 350px;
    &:before {
      z-index: 3;
    }
    position: relative;
    background: url('../images/r-watermark-footer.png') no-repeat;
    background-position: -37% -24%;
    background-size: 650px 650px;
    @include media-breakpoint-down(md) {
      margin-top: -220px;
      padding-top: 300px;
    }
    @include media-breakpoint-down(sm) {
      margin-top: -150px;
      padding-top: 200px;
    }
    @include media-breakpoint-down(xs) {
      margin-top: -100px;
    }
    
    .container {
      position: relative;
      z-index: 2;
    }

    &:after {
      @extend %pseudo-content;
      background: linear-gradient( to left, #050505, #050505, #2e1642);
      z-index: -1;
    }

    h2 {
      font: 20px kionaBold;
      color: #fff;
      letter-spacing: 3px;
      margin-left: 50px;
      @include media-breakpoint-down(md){
        margin-left: 0;
        margin-bottom: 30px;
      }
    }

    .address, .contact, .socials {
      h3 {
        font-size: 11px;
        font-family: kionaBold;
        letter-spacing: 1px;
        line-height: 2.5;
        color: #5d2b86;
      }
      p, a {
        font-size: 10px;
        font-family: proxima-reg;
        line-height: 2.5;
        color: #fff;
        letter-spacing: 1px;
      }
    }

    .socials li {
      margin-top: 10px;
      display: inline-block;
      margin-right: 12px;
      a {
        display: inline-block;
        font-size: 16px;
        width: 31px;
        height: 31px;
        line-height: 32px;
        border-radius: 7px;
        transition: all 0.25s;
        text-align: center;
        background: #fff;
        color: #5d2b86;
        span {
          transition: all 0.25s;
        }
        &:hover {
          background: #5d2b86;
          span {
            color: #fff!important;
          }
        }
      }
    }

    .rights {
      font-size: 9px;
      color: #fff;
      letter-spacing: 1px;
      padding-right: 30px;
    }
  }
}