/* Header styles */
.intro {
  padding-top: 25px;
  position: relative;
  &:after {
    @extend %pseudo-content;
    background: transparentize(#5e6a81, 0.3);
    @supports (mix-blend-mode: multiply){
      background: linear-gradient(#b4bac5, #5e6a81);
      mix-blend-mode: multiply;
    }
  }
  .intro-content {
    position: relative;
    z-index: 1000;
  }

  .navbar-nav li:last-child .nav-link:after {
    display: none;
  }
  .navbar-nav .nav-link {
    font-family: $futura-font;
    font-weight: normal!important;
    font-size: 12px;
    letter-spacing: 2px;

    &:after {
      content: '';
      display: inline-block;
      width: 2px;
      height: 1px;
      background: theme-color('secondary');
      position: relative;
      bottom: 5px;
      left: 9px
    }
  }
  .french-flag {
    position: relative;
    bottom: 2px;
  }

  .intro-text {
    padding: 250px 0 0;
    @include media-breakpoint-down(md){
      padding: 100px 0 0;
    }
    
    h2.intro-h-top {
      font-family: $header-font;
      font-weight: normal;
      font-size: 40px;
      letter-spacing: 8px;
      @include media-breakpoint-down(md){
        font-size: 25px;
      }
    }
    h2.intro-h-bottom {
      font-family: $header-font;
      font-weight: normal;
      font-size: 70px;
      letter-spacing: 15px;
      @include media-breakpoint-down(md){
        font-size: 35px;
      }
    }

    .experts {
      h3 {
        display: inline-block;
        font-family: $akizden-normal;
        font-weight: normal;
        transform: rotate(-90deg);
        letter-spacing: 5px;
        @include media-breakpoint-down(sm){
          font-size: 14px;
          position: relative;
          padding-right: 120px;
        }        
      }

      .page-break {
        @extend %page-break;
        @include media-breakpoint-down(md){
          margin-top: 150px;
        }
        @include media-breakpoint-down(sm){
          margin-top: 180px;
          margin-bottom: -30px;
        }
      }
    }
  }
}

.white-blade {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 250px;
  margin-top: -250px;
  @extend %edge-bottom;
}

// parallax intro
.intro-layer {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.intro-layer .layer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover!important;
  background-position: center!important;
}

/*sticky header position*/
.header {
  position: relative;
  z-index: 2;

  .navbar-brand {
    transition: all 0.25s!important;
    img {
      transition: all 0.25s!important;
    }
  }
}
.header .sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  background: #000;
  transition: all 0.25s;

  .navbar-brand {
    width: 127px;

    img {
      width: 100%;
    }
  }
}

/* nav hover animation */
.nav-link {
  transition: all 0.25s;
  &:hover {
    color: theme-color('primary')!important;
  }
}

.navbar-collapse {
  @include media-breakpoint-down(md) {
    margin-top: 20px;
  } 
}