/* General variable styles */
$theme-colors: (
  "primary": #c8a82c,
  "secondary": #5e6a81
);
$enable-rounded: true;


/* Fonts & typograpthy */
$font-size-base: 1rem;
$font-family-base: 'Gentium Basic', serif;
$header-font: futura-m;
$futura-font: futura;
$akizden-bold: akizden-b;
$akizden-normal: akizden;
$raleway: 'Raleway', sans-serif;
$line-height-base: 2;
$border-radius-base: 10px;
$text-color: theme-color('secondary');


$headings-font-family: $header-font;
$h1-font-size: 28px;
$h2-font-size: 26px;
$h3-font-size: 24px;
$h4-font-size: 22px;
$h5-font-size: 20px;
$headings-font-weight: bold;
$headings-line-height: 1.3;
// $headings-color: #141617;
$headings-margin-bottom: 0;


/* Nav */
$nav-link-padding-y: 12px;;
$nav-link-padding-x: 20px;

$navbar-nav-link-padding-x: .7rem;



/* Inputs
$input-bg: #ebebeb;
$input-color: #8a8a8a;

$input-height: auto;

$input-padding-y: 15px;
$input-padding-x: 15px;

$input-border-width: 1px;
$input-border-color: transparent;
$input-focus-border-color: #d1d1d1;

$input-plaintext-color: #acacac;
$input-placeholder-color: #acacac;
$input-focus-color: #333;

$custom-select-padding-y: 15px; // 15px
$custom-select-padding-x: 15px; // 15px
$custom-select-height: auto;
$custom-select-font-size-sm: 11px;
$custom-select-font-size-lg: 11px;

$input-transition: all .25s ease-in-out;
*/

/* Buttons */
$btn-padding-y: 12px;
$btn-padding-x: 60px;
$btn-font-weight: bold;
$btn-border-width: 2px;
$btn-border-radius: 10px;
